table{
    border: 1px solid black;
    border-collapse: collapse;
}
td{ 
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
td:hover{
    background: red;
}
input{  
    text-align: right;
    border: none;
}
input:focus{
    outline: none;
}